@import './a11y.css';
@import './variables.css';
@import './transitions.css';
@import './mapbox-draw.css';
@import './material-override.css';

body {
  margin: 0;
  color: var(--text-color);
}

.side-panel {
  overflow: visible !important;
}

.button {
  position: relative;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: inherit;
  font-size: var(--font-size-default);
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: var(--border-radius--small);
  box-shadow: 1px 1px 3px #ccc;
  transition: all .1s ease-in-out;
}

.button:not(:disabled):hover:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .2);
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--neutral-color);
}

.button--primary {
  color: #fff;
  background-color: var(--accent-color);
}

.button--secondary {
  color: var(--accent-color);
  background-color: #fff;
}
