.mapboxgl-ctrl-group {
  overflow: initial !important; /* Override or tooltip doesn't show */
}

.control-tooltip {
  position: relative;
}

.control-tooltip::before {
  display: none;
  content: attr(title);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--text-color);
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}

.control-tooltip--left::before {
  right: calc(100% + 10px);
}

.control-tooltip--right::before {
  left: calc(100% + 10px);
}

.control-tooltip:hover::before {
  display: block;
}
