:root {
  --side-panel-width: 370px;
  --card-width: 320px;
  --border-radius--small: 5px;

  /* colors */
  --neutral-color: #ddd;
  --primary-color: #008FC5;
  --primary-color--light: #709DB1;
  --accent-color: #FF7200;

  /* spacing */
  --spacing-default: 1rem;
  --spacing-half: .5rem;
}
